body{
    background-color: black;  
}
h1{
    color: white;
    font-family: Libre Baskerville;
    text-transform: uppercase;
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
img{
    border: 5px solid white;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 350px;;
}